{% extends 'app/base.html' %}

{% block content %}

<h1> User: {{ user }}</h1>
<hr>
<h3>Posted pictures:</h3>
{% for image in images %}
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img class="app-fit" src="{{ image.url }}" alt=""/>
                </div>
                <div class="col-md-10">
                    <div class="date">
                        <p class="red">
                            Vote score: {{ image.vote_score }} | Published: {{ image.pub_date }} |
                            Comments: {{ image.comment_set.count }}
                        </p>
                    </div>
                    <h2>{{ image.title }}</h2>
                    <p> {{ image.description|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <h3>Posted comments:</h3>
    {% for comment in comments %}
        <div class="border comment">
            <p class="red">
                {{ comment.created_at }} | {{ comment.num_likes }} likes            
            </p>
            <p>
                {{ comment.text }}
            </p>
        </div>
    {% endfor %}


{% endblock %}
