{% extends 'app/base.html' %}

{% block content %}

    <h1>Add new image</h1>
    <form action="{% url 'app:newImage' %}" method="post" class="border">
        {% csrf_token %}
        <label for="title">Title: </label>
        <input type="text" name="title"><br>
        <label for="url">URL: </label>
        <input type="text" name="url"><br>
        <label for="description">Description: </label>
        <input type="textbox" name="description"><br>
        <label for="pub_date">Date: </label>
        <input type="date" name="pub_date">
        <input type="submit" value="Submit">
    </form>
    

{% endblock %}
